<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="main.css" type="text/css" rel="stylesheet">
  <title>get app</title>
</head>
<body>
  <div class="warpper">
    <div class="container">
      <div class="cell">
        <div class="background"><img src="imgs/background.jpg" /></div>
      </div>
      <div class="cell">
        <article>
          <h1>create download app page</h1>
        </article>
      </div>
    </div>
  </div>
  <script src="bundle.js"></script>
</body>
</html>
